<div class="col-md-12 col-md-offset-2">
    <h1>Type du véhicule :</h1>    
    <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
      <input type="hidden"  formControlName="idTypeVehicule" id="idTypeVehicule">
      <div class="form-group">
        
        <label>Type du véhicule</label>
        <input type="text" class="form-control" formControlName="lib_type_vehicule" id="lib_type_vehicule" placeholder="Nom du Type de véhicule">
        <label>Description </label>
        <input type="text" class="form-control" formControlName="desc_type_vehicule" id="desc_type_vehicule" placeholder=" desc_type_vehicule">
      
        
      </div>
     
      <div class="form-group">
    
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
    

</div>
    </form>
</div>

