
<mat-toolbar color="primary">
   
    <div>
    <h1>Gestion des Marques</h1> 
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end center" fxHide.xs>
    
      <ul fxLayout fxLayoutGap = "15px" class="navigation-items">
        
        <li>
          <button type="button" class="btn btn-info" (click)="addmarque()" >Ajouter Marque</button>
        </li>  
      </ul>
  
    </div>
  </mat-toolbar>  
     <div class="pricing-header mx-auto">
       <div class="table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md
       table-responsive-lg">
        <thead>
        <tr>
            
           
        <th scope="col">Marque</th>
        <th scope="col">Fabricant</th>
        <th class="text-center" scope="col">Editer</th>
        <th class="text-center" scope="col">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let item of listData | async">
  
             
    <td>{{item.lib_Modele}}   </td>
    <td>{{item.idFabricant.lib_fabricant}}</td>
    <td style="position: static;"><center><button  class="btn btn-warning"  (click) = "selectData(item)">
      <i class="fa fa-pencil-square-o" ></i></button></center></td>
     <td><center><button class="btn btn-danger" (click) = "removeData(item.idModele)">
       <i class="fa fa-trash-o"></i></button> </center> </td>
      </tr>
      </tbody>
  
          
        
             </table>
             </div>
            
            </div>  
          
  
  
  
